.button-homepage{
    margin-top:100px;
    margin-bottom: 100px;
    text-align: center;
}

.btn{
  margin: 15px;
}

.btnGang{
  text-align:center;
  width: 100%;
}

textarea{
  height:80px;
}

.createquizgroup{
  padding-left: 100px;
}

.buttonGang{
  padding: 50px;
  text-align: center;
}