body {
  background-image: url("./pics/background.jpg");
  padding: 20px;
  margin: 0;
}

.chat-container{
  display: flex;
  flex-wrap: wrap;

}

.rightchat-head{
 background-color: #6699cc;
 padding: 5px;
}

.leftchat-head{
  background-color: #6699cc;
  padding: 5px;
}

.chat-body{
 background-color: powerblue;
 padding: 5px;
 flex: 1;

 display:flex;
 flex-direction: column;
}

.chat-footer{
 background-color: lightgreen;
 padding: .5em;
 display: flex;
}

.textarea{
 flex: 1;
 resize: none;
}

@media screen and (max-width:760px){
 .chat-container{
   max-width: 100px;
 }


}

.left-message{
 background-color: #333;
 padding: 5px;
 align-self: flex-start;
 border-radius: 5px;
 box-shadow:1px 1px 2px 2px rgba(0,0,0,.5);
}

.right-message{
 background-color: #333;
 padding: 5px;
 color:#fff;
 align-self: flex-end;
 border-radius: 5px;
 box-shadow:1px 1px 2px 2px rgba(0,0,0,.5);
}

.right-container{
  flex: 70%;
  padding: 20px;
  background-color:#fff;
  height: 800px;
  align-self: flex-end;
  display:flex;
  flex-direction: column;
}

.chatbox{
  background-color: green;
    width: 100%;
    padding:5px;
    height: 100%;
}

.left-container{
  flex: 30%;
  padding: 20px;
  background-color:#f1f1f1;
  height: 800px;
  align-self: flex-start;

  display:flex;
  flex-direction: column;
}


h1, h2, p, ul, li {
  font-family: sans-serif;
}

.title{
  color: #FFFFC0;
  text-align: center;
}

#password{
  order: 1;
}

.navigationbar{
    background-image: url("./pics/appbackground.jpg");
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-image: url("./pics/appbackground.jpg");
  padding: 20px;
  color: #FFFFD0;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
